body {
	margin-top: 100px;
	text-align: center;
	font-family: monospace, Helvetica;
	font-size: 30px;
}

#main {
}

#sourceLink{
	margin-top: 50px;
	font-size: 10px;
}

#randomize{
	border-radius: 8px;
	font-family: monospace, Helvetica;
	font-size: 30px;
	width: 200px;
	height: 75px;
	margin-top: 50px;
	background-color: #1a651a;
	color: #ffffff;
}

#toggle{
	border-radius: 8px;
	font-family: monospace, Helvetica;
	font-size: 20px;
	width: 200px;
	height: 75px;
	margin-top: 10px;
	background-color: #1a651a;
	color: #ffffff;
}